@use './components/style/home.scss';
@import "./components/style/color.scss";

$bg: rgb(186, 197, 26);

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background: $bg;
  color: $text;
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
}

.form-left {
  text-align: left;
}

.form-content {
  margin-bottom: 20px;
}

.HomeArticle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
