@use 'sass:color';
@import "../queries/media-queries.scss";
@import "./theme/color.scss";

//////barre de menu//////
.burgerMenu {
  position: fixed;
  z-index: 99999;
  height: 3rem;
  width: 3rem;
  background-color: #e84a5f;
  border: none;
  animation: buttonToLeft 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  div {
    position: relative;
    width: 100%;
    height: 50%;
    span {
      display: block;
      background-color: $text;
      width: 2rem;
      height: 0.3rem;
      border-radius: 1rem;
      margin-top: 0.25rem;
      .bun1 {
        position: absolute;
        top: 0;
        transform: translateY(-50%);
      }
      .bun2 {
        position: absolute;
        bottom: 0;
        transform: translateY(-50%);
      }
    }
  }
}
.burgerMenu.open {
  animation: buttonToRight 0.5s;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0.53, -0.26, 0.58, 1);
  animation-fill-mode: forwards;
  border-radius: 0 0 0 1rem;
}
@media all and(min-width:$mediumQ) {
  .burgerMenu {
    display: none;
  }
  .chevronHolder {
    display: none;
  }
}

///button's animations///
@keyframes buttonToLeft {
  0% {
    left: 80%;
    border-radius: 0 0 0 1rem;
  }
  50% {
    border-radius: 0 0 1rem 1rem;
  }
  100% {
    left: 0%;
    border-radius: 0 0 1rem 0;
  }
}

@keyframes buttonToRight {
  0% {
    right: 100%;
    border-radius: 0 0 1rem 0;
  }
  50% {
    border-radius: 0 0 1rem 1rem;
  }
  100% {
    right: 0%;
    border-radius: 0 0 0 1rem;
  }
}
