@import "../theme/color.scss";
@import "../theme/themes.scss";
@import "../queries/themify.scss";

.featureWrap {
  @include themify($themes){
    background-color: themed('text');
}
  padding: 0 0 2rem;

  .article {
    display: flex;
    margin: 1rem 0;
    #iconCake,
    #iconEdit,
    #iconFast,
    #iconReady,
    #iconExport,
    #iconUniversal,
    #iconResponsive,
    #iconInternational {
      width: 6rem;
      height: auto;
      margin: auto;
      @include themify($themes){
        fill: themed('base');
      }
    }
    .textOlder {
      width: 50%;
      margin: auto;
      h4 {
        margin-bottom: 0.4rem;
      }
      p {
        @include themify($themes){
        color: themed('subtle');}
      }
    }
  }
}
