@import '../theme/color.scss';

.featureWrap{
  background-color: $text;
  padding: 0 0 2rem;

 .article{
   display: flex;
  margin: 1rem 0;
  #iconCake{
    width:6rem;
    height: auto;
    margin: auto;
    fill: $base;
  }
   .textOlder{
     width:50%;
     margin: auto;
     h4{
      margin-bottom: 0.4rem;
     }
     p{
       color:$dark2;
     }
    }
  }
}
