@import "../queries/mixins.scss";
@import "./theme/color.scss";

div.footer {
  @include themify($themes) {
    background-color: themed("highlight");
    color: themed("text");
    .row {
      padding: 1rem 0;
      h4 {
        font-family: "Montserrat semi bold";
        font-size: 1.3rem;
        text-align: center;
        @include themify($themes) {
          color: themed("text");
        }
      }
      border-radius: 0 0 5rem 5rem;
      // width: 100%;
    }
    p {
      text-align: center;
    }
    ul {
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;

      margin-bottom: 0.5rem;
      .bot {
        border-top: solid;
        border-width: 1px;
        padding-top: 1rem;
      }
    }
  }
}
@media all and(min-width: 801px) {
  @include FooterDesktop;
}
