// @use 'sass:color';
@import '../theme/themes.scss';
@import "./queries/themify.scss";
// @import "../queries/media-queries.scss";
@import "./queries/mixins.scss";
// @import "./theme/color.scss";
@import "../theme/font.scss";


.topMenu {
  @include topMenu();
  animation: menuMove 0.5s;
  @media all and(min-width: 801px) {
    @include menu;
  }
}
.topMenu.hidden {
  font-family: "Montserrat";
  animation: menuMoveBack 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  @media all and(min-width: 801px) {
    @include menu;
  }
}

///menu's animations///
@keyframes menuMove {
  0% {
    right: 200%;
  }
  100% {
    right: 0%;
  }
}
@keyframes menuMoveBack {
  0% {
    right: 0%;
  }
  100% {
    right: 200%;
  }
}

//////fond du header//////

.headerHome {
  @include themify($themes){
    background-color: themed('base');
  }
  .presentationHolder {
    margin: auto;
    padding: 4.8rem 0;
    width: 50%;
    .presentation {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h1 {
        @include themify($themes){
          color: themed('text');
        }
        font-size: 3rem;
        margin-bottom: 2rem;
      }
      .s1 {
        font-size: 1.2rem;
        font-weight: bolder;
        margin-bottom: 1rem;
      }
      .s2 {
        text-align: center;
        font-size: 1.1rem;
        font-weight: lighter;
        margin-bottom: 2rem;
        padding: 0 1.3rem;
        word-wrap: break-word;
      }
    }
    @include themify($themes){
      background: themed('base');
    }
  }
  @media all and(min-width: 801px) {
    @include Header;
  }

  @media all and(min-width: 499px) and(max-width: 800px) {
    @include HeaderTablet;
  }
}

.homeLogo {
  @include themify($themes){
    color: themed('text');
  }
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 2rem 0;
  i.icon {
    margin: 1rem;
  }
}

