@use 'sass:color';

$bgHead: #b6eb7a;
$highlight: #fb7813;
$dark: hsl(352, 77%, 60%);
$dark2: hsl(351, 70%, 8%);
$gradient: linear-gradient(0deg, rgba(254, 206, 171, 1) 0%, rgba(232, 74, 95, 1) 100%);
$text: #fff;
$backgroundDark: color.scale($dark2, $alpha: -20%);
$bg: transparent;
