// @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');


@font-face {
    font-family: 'Montserrat';
    src: url('./font/Montserrat-Regular.ttf'); 
}

$Montserrat: 'Montserrat';