@use'sass:color';
$themes: (
  light: (
    base: #32a3a7,
    text: #fff,
    subtle: #23060a,
    highlight: #e84a5f,
    transparent: transparent,
  ),
  dark: (
    base: rgb(59, 12, 12),
    text: OLDLACE,
    text2: grey ,
    subtle: CHOCOLATE,
    highlight: BROWN,
    transparent: transparent,
  ),
  greenish:(
    base:#007f5f,
    text:white,
    text2:#80b918,
    subtle:#d4d700,
    highlight:#bfd200,
    transparent:transparent
  ),
  saumon:(
    base:#f08080,
    text:#ffdab9,
    text2:#f4978e,
    subtle:#f8ad9d,
    highlight:#fbc4ab,
    transparent:transparent
  ),
  greatOldOne:(
    base:#533747,
    text:#86bbbd,
    text2:#76949f,
    subtle:#5f506b,
    highlight:#6a6b83,
    transparent:transparent
  ),
  honey:(
    base:#e2711d,
    text:#ffc971,
    text2:#ffb627,
    subtle:#ff9505,
    highlight:#cc5803,
    transparent:transparent
  ),
  pharmaceutical:(
    base:#6b9080,
    text:#f6fff8,
    text2:#eaf4f4,
    subtle:#cce3de,
    highlight:#a4c3b2,
    transparent:transparent
  ),
  playduh:(
    base:#26547c,
    text:#fcfcfc,
    text2:#06d6a0,
    subtle:#ef476f,
    highlight:#ffd166,
    transparent:transparent
  ),
  grandmaLeavingRoom:(
    base:#d88c9a,
    text:#f1e3d3,
    text2:#f2d0a9,
    subtle:#99c1b9,
    highlight:#8e7dbe,
    transparent:transparent
  ),
  camouflage:(
    base:#1e2f23,
    text:#b39c4d,
    text2:#768948,
    subtle:#34623f,
    highlight:#607744,
    transparent:transparent
  ),
  bigout:(
    base:#f4afab,
    text:#f4f482,
    text2:#f4eea9,
    subtle:#f4cbc6,
    highlight:#f4afab,
    transparent:transparent
  ),
  princessBBG:(
    base:#fe5d9f,
    text:#f1e4f3,
    text2:#d6d2d2,
    subtle:#f686bd,
    highlight:#f4bbd3,
    transparent:transparent
  ),
  luna:(
    base:#102e4a,
    text:#55c1ff,
    text2:#5887ff,
    subtle:#715aff,
    highlight:#102e4a,
    transparent:transparent
  ),
  fifties:(
    base:#b8d8ba,
    text:#69585f,
    text2:#d9dbbc,
    subtle:#fcddbc,
    highlight:#ef959d,
    transparent:transparent
  ),
  ghost:(
    base:#c0fdfb,
    text:#64b6ac,
    text2:#64b6ac,
    subtle:#fcfffd,
    highlight:#5d737e,
    transparent:transparent
  ),
  nightWatch:(
    base:#1b263b,
    text:#e0e1dd,
    text2:#778da9,
    subtle:#415a77,
    highlight:#0d1b2a,
    transparent:transparent
  ),
  slayer:(
    base:#580c1f,
    text:#c52233,
    text2:#a51c30,
    subtle:#74121d,
    highlight:#580c1f,
    transparent:transparent
  ),
  initial:(
    base:#ffffff,
    text:#000000,
    text2:#1f1f1f,
    subtle:#eb6112,
    highlight:#131313,
    transparent:transparent
  ),
  sunset:(
    base:#f25c54,
    text:#f7b267,
    text2:#f79d65,
    subtle:#f4845f,
    highlight:#f27059,
    transparent:transparent
  ),
  unicorn:(
    base:#a9def9,
    text:#f694c1,
    text2:#f694c1,
    subtle:#d3f8e2,
    highlight:#a9def9,
    transparent:transparent
  ),
  twentyUnder:(
    base:#006494,
    text:#00a6fb,
    text2:#0582ca,
    subtle:#003554,
    highlight:#051923,
    transparent:transparent
  )
);