@use'sass:color';
$themes: (
  light: (
    base: #32a3a7,
    text: #fff,
    subtle: #23060a,
    highlight: #e84a5f,
    transparent: transparent,
  ),
  dark: (
    base: #66331c,
    text: #0ef306,
    subtle: #f34c63,
    highlight: #6b200e,
    transparent: transparent,
  ),
);