// @import "../theme/color.scss";
@import "../theme/themes.scss";
@import "../queries/themify.scss";
html {
  scroll-behavior: smooth;
}

 ul#onePageMenu {
  font-family: "Montserrat";
  font-weight: bolder;

  width: 100%;
  // margin: auto;
  text-align: center;
  text-decoration: none;
  @include themify($themes){
  background-color: themed('base');
}
  padding: 1rem 0;
  margin: 0;
  position: fixed;
  z-index: 9999;

  a {
    @include themify($themes){
    color: themed('text');
    }
    margin: 0 1rem;
  }
}
