// @import "../theme/color.scss";
@import "../theme/themes.scss";
@import "../queries/themify.scss";
@import "../queries/mixins.scss";

html {
  scroll-behavior: smooth;
}
ul.onePageMenu {
  display: none;
}
ul.onePageMenu.open {
  font-family: "Montserrat";
  font-weight: bolder;

  width: 100%;
  text-align: center;
  text-decoration: none;

  padding: 1rem 0;
  margin: 0;
  position: fixed;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  @include themify($themes) {
    filter: drop-shadow(1px 1px 1px themed("highlight"));
  }

  a {
    @include themify($themes) {
      color: themed("text");
    }
    padding: 1rem;
    &:hover {
      @include themify($themes) {
        background-color: themed("highlight");
      }
      border-radius: 0 0 0.2rem 0.2rem;
    }
  }
}
@media all and(min-width: 801px) {
  @include MenuOnePageDesktop;
}

.articles.onepage {
  border-bottom: solid;
  border-width: 1px;
  @include themify($themes) {
    border-color: themed("text");
  }
}
