@use 'sass:color';
@use './component/header.scss';
@use './component/footer.scss';
@use './component/burgerButton.scss';
@use './component/about.scss';
@use './component/contact.scss';
@use './component/sidebar.scss';
@use './component/feature.scss';
// @import "./theme/themes.scss";
// @import './component/theming.scss';
@import "./theme/font.scss";
@import "./queries/media-queries.scss";
// @import "./theme/color.scss";
@import "../style/onePageStyle/onePageStyle.scss";

$themes: (
  light:(
    $base: #32a3a7,
    $text: #fff,
    $subtle: #23060a,
    $highlight: #e84a5f,
    $transparent: transparent,
    $burgerMenuBackground: color.scale($subtle, $alpha: -20%),
  ),
  dark:(
    $base: #944f27,
    $text: rgb(241, 225, 189),
    $subtle: #080400,
    $highlight: #a03c01,
    $transparent: transparent,
    $burgerMenuBackground: color.scale($subtle, $alpha: -20%),
  ),
);
@mixin themify($themes: $themes) {
  @each $theme, $map in $themes {

    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }

      @content;
      $theme-map: null !global;
    }

  }
}

@function themed($key) {
    @return map-get($theme-map, $key);
  }




*,
*::after,
*::before {
  box-sizing: border-box;
}



 h3 {
  text-align: center;
  margin: 0;
  padding: 1rem 0;
  @include themify($themes){
  color: themed('highlight');
  }
  font-size: 2rem;
  
  font-family: "Montserrat";
  letter-spacing: 0.1rem;
}

 body {
  @include themify($themes){
  background-color: themed('base'); 
  color: themed('highlight');}
  font-family: "Lato", sans-serif;
 
  margin: 0;
  padding: 0;
  size: 100%;
  min-height: 100%;

  .articles {
    padding: 3em 0 2rem;
    background-color: $text;
    p {
      color: $subtle;
    }
    .homeP {
      text-align: center;
    }
  }
}

.form-left {
  text-align: left;
}

.form-content {
  margin-bottom: 20px;
}
.HomeArticle {
  margin: 0 1.2rem;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.question {
  font-size: 2em;
}

.chevronHolder {
  position: absolute;
  z-index: 9998;
  text-align: center;
  width: 100%;
  margin-top: 0.5rem;

  #chevronTop {
    width: 1.2rem;
    height: auto;
    fill: $text;
  }
}
.flags {
  position: absolute;
  top: 0;
  right: 0;

  span {
    padding: 10px;
  }

  svg {
    cursor: pointer;
    width: 40px;
  }
 }
