// @use 'sass:color';
@use './component/header.scss';
@use './component/footer.scss';
@use './component/burgerButton.scss';
@use './component/about.scss';
@use './component/contact.scss';
@use './component/sidebar.scss';
@use './component/feature.scss';
@use './component/modal.scss';
@import "./theme/themes.scss";
@import "./queries/themify.scss";
@import "./theme/font.scss";
@import "./queries/media-queries.scss";
@import "../style/onePageStyle/onePageStyle.scss";
@import "../style/withModalStyle/withModalStyle.scss";

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0;
  // overflow-x: hidden;
}

a {
  @include themify($themes) {
    color: themed("text");
  }
  text-decoration: none;
}

h3 {
  text-align: center;
  margin: 0;
  padding: 1rem 0;
  @include themify($themes) {
    color: themed("highlight");
  }
  font-size: 2rem;
  font-family: "Montserrat";
  letter-spacing: 0.1rem;
}
.sectionTitle {
  @include themify($themes) {
    color: themed("base");
  }
}

#app {
  @include themify($themes) {
    background-color: themed("base");
    color: themed("highlight");
  }
  font-family: "Lato", sans-serif;

  margin: 0;
  padding: 0;
  size: 100%;
  min-height: 100%;
  width: 100%;

  .articles {
    padding: 3em 0 2rem;
    // margin-top: 3rem;
    @include themify($themes) {
      background-color: themed("text");
    }
    p {
      @include themify($themes) {
        color: themed("subtle");
      }
    }
    .homeP {
      text-align: center;
    }
  }
}
.discordLink {
  @include themify($themes) {
    color: themed("base");
  }
  &:hover {
    font-weight: bolder;
  }
}

.form-left {
  text-align: left;
}

.form-content {
  margin-bottom: 20px;
}
.HomeArticle {
  margin: 0 1.2rem;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.question {
  font-size: 2em;
}
.heart {
  @include themify($themes) {
    color: themed("highlight");
  }
}

.chevronHolder {
  position: absolute;
  z-index: 9998;
  text-align: center;
  width: 100%;
  margin-top: 0.5rem;

  #chevronTop {
    width: 1.2rem;
    height: auto;
    @include themify($themes) {
      fill: themed("text");
    }
  }
}
.flags {
  position: absolute;
  top: 0;
  right: 0;

  span {
    padding: 10px;
  }

  svg {
    cursor: pointer;
    width: 40px;
  }
}

#__lottie_element_37 {
  @include themify($themes) {
    fill: themed("base");
  }
}

.chevronTopPage {
  position: fixed;
  color: black;
  @include themify($themes) {
    background: themed("base");
  }
  bottom: 0;
  right: 0;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;

  #chevronTop {
    width: 1.2rem;
    height: auto;
    @include themify($themes) {
      fill: themed("text");
    }
  }
}
