@import '../theme/themes.scss';
@import "./queries/themify.scss";

@mixin topMenu() {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  z-index: 9999;
  @include themify($themes){
    background-color: themed('backgroundColor');
  }
  width: 100%;
  padding-top: 3rem;
  animation-duration: 40s;
  animation-iteration-count: 1;
  animation-direction: normal;
  a {
    font-size: 1.5rem;
    padding: 1rem 1rem 1.5rem;
    transform: translateY(-01rem);
    margin: 0.5rem auto;
    border-bottom: solid;
    border-width: 1px;
    text-align: center;
    width: 100%;
  }
  .flag {
    width: 1rem;
  }
}

@mixin menu() {
  display: block;
  position: initial;
  width: 100%;
  padding: 1rem 2.5rem;
  text-align: center;
  @include themify($themes){
  background-color: themed('transparent');
}
  a {
    font-size: 1.1rem;
    @include themify($themes){
color: themed('text');
}
    font-weight: bolder;
    margin: 0;
    padding: 1rem 1.5rem;
    border-bottom: transparent;
  }
  a:hover {
    border-bottom: solid;
    border-width: 2px;
    border-radius: 2px;
    font-size: 1.01;
    cursor: pointer;
    @include themify($themes){
      background-color: themed('subtle');
    }
  }
  .flag {
    cursor: pointer;
  }
}
@mixin Header {
  .headerHome {
    @include themify($themes){
    background: themed('base');}
    display: flex;
    flex-direction: column;
    align-items: center;

    .presentationHolder {
      @include themify($themes){
color: themed('text');
}
      margin: auto;
      padding: 10rem 0;
      width: 50%;
      .presentation {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h1 {
          font-size: 3rem;
          margin-bottom: 2rem;
        }
        .s1 {
          font-size: 1.2rem;
          font-weight: bolder;
          margin-bottom: 1rem;
        }
        .s2 {
          text-align: center;
          font-size: 1.1rem;
          font-weight: lighter;
          margin-bottom: 4rem;
        }
      }
    }
  }
  .homeLogo {
    @include themify($themes){
color: themed('text');
}
    display: flex;
    justify-content: space-around;
    margin: 2em 0;
  }
}
@mixin HeaderTablet {
  .s2 {
    padding: 0 2.3rem;
  }
}

@mixin HomeContent {
  *,
  *::after,
  *::before {
    box-sizing: border-box;
  }

  h3 {
    text-align: center;
    margin: 0;
    padding: 1rem 0;
    @include themify($themes){
    color: themed('highlight');}
    font-size: 2rem;
    font-family: "Montserrat";
    letter-spacing: 0.1rem;
  }

  body {
    @include themify($themes){
    background: themed('transparent');
    color: themed('text');
  }
    font-family: "Lato", sans-serif;
    margin: 0;
    padding: 0;
    size: 100%;
    min-height: 100%;
  }

  .form-left {
    text-align: left;
  }

  .form-content {
    margin-bottom: 20px;
  }

  .HomeArticle {
    margin: 8rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .question {
    font-size: 2em;
  }
}

@mixin Feature {
  display: flex;
  flex-direction: column;
}

@mixin About {
  $marginVertical: 2rem;

  .profilHolder {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 50rem;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    .ui.card {
      margin: $marginVertical 1rem;
    }
    .ui.card:last-child {
      margin-bottom: $marginVertical;
    }
    .ui.card:first-child {
      margin-top: $marginVertical;
    }
  }
}

@mixin Contact {
  .eight.wide.column {
    margin: 13.5rem 0;
  }
}

@mixin FooterDesktop {
  .footer {
    display: flex;
    justify-content: space-around;
    align-items: baseline;

    padding: 2rem 8rem;
    .row {
      padding: 0 4rem;
      h4 {
        font-size: 1.2rem;
        font-weight: 800;
        @include themify($themes){
          background-color: themed('transparent');
            color: themed('text');
            }
        border-radius: 0;
      }
      display: flex;
      flex-direction: column;
      justify-content: start;
      ul {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
        a {
          @include themify($themes){
            color: themed('text');
            }
          font-weight: 400;
        }
      }
    }
    .row.bot {
      border-width: 0;
    }
  }
}
