@import './color.scss';

.ui.inverted.segment{
    background: $gradient
}
.ui.primary.button{
    background-color: $highlight;
}

.ui.secondary.inverted.pointing.menu{
 background-color: $dark;
}
.presentationHolder{
    margin: 10rem;
    .presentation{
        display: flex;
        flex-direction: column;
                h1{
                    font-size: 3rem;
                    margin-bottom: 2rem;
                }
                .s1{
                    font-size: 1.2rem;
                    font-weight: bolder;
                }
                .s2 {
                    font-size: 1.1rem;
                    font-weight: lighter;
                }
    }
}


.homeLogo{
display: flex;
justify-content: space-around;
margin: 2em 0;
}